interactions:
- request:
    body: '{"page": 1, "per_page": 100}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.apollo.io/api/v1/emailer_campaigns/search
  response:
    body:
      string: '{"pagination":{"page":1,"per_page":100,"total_entries":2,"total_pages":1},"breadcrumbs":[],"emailer_campaigns":[{"id":"6a5ae77f77552d00147f7258","name":"Test
        External Sequence Update VCR","description":null,"archived":false,"created_at":"2026-07-18T02:39:59.434Z","emailer_schedule_id":null,"max_emails_per_day":null,"user_id":"69d3cbed7bc8d500194ed14c","same_account_reply_policy_cd":null,"excluded_account_stage_ids":[],"excluded_contact_stage_ids":[],"contact_email_event_to_stage_mapping":{},"label_ids":[],"create_task_if_email_open":false,"email_open_trigger_task_threshold":3,"mark_finished_if_click":false,"active":true,"days_to_wait_before_mark_as_response":5,"starred_by_user_ids":[],"mark_finished_if_reply":true,"mark_finished_if_interested":true,"mark_paused_if_ooo":true,"mark_finished_if_phone_call_connected":null,"sequence_by_exact_daytime":null,"last_used_at":null,"sequence_ruleset_id":null,"ignore_apollo_global_email_bounce_list":null,"folder_id":null,"same_account_reply_delay_days":30,"is_performing_poorly":false,"num_contacts_email_status_extrapolated":0,"remind_ab_test_results":false,"ab_test_step_ids":[],"prioritized_by_user":null,"creation_type":"new","object_owner_id":"69d3cbed7bc8d500194ed14c","dmp_ids":null,"content_center_type":"new_cc","product_profile_ids":[],"context_card_ids":[],"status_reason":"manual_approve","auto_pause_warning_level":null,"auto_paused_at":null,"auto_pause_bounce_rate":null,"allowed_send_from_domains":[],"num_steps":1,"emailer_steps":[{"id":"6a5ae94f12bcd6000ca566b1","position":1,"wait_time":1,"wait_mode":"day","type":"auto_email"}],"unique_scheduled":0,"unique_delivered":0,"unique_bounced":0,"unique_opened":0,"unique_hard_bounced":0,"unique_spam_blocked":0,"unique_replied":0,"unique_demoed":0,"unique_clicked":0,"unique_unsubscribed":0,"unique_opened_unfiltered":0,"unique_clicked_unfiltered":0,"unique_delivered_open_tracked":0,"unique_delivered_click_tracked":0,"bounce_rate":0.0,"hard_bounce_rate":0.0,"open_rate":0.0,"open_rate_tracked":0.0,"open_rate_unfiltered":0.0,"open_rate_unfiltered_tracked":0.0,"click_rate":0.0,"click_rate_tracked":0.0,"click_rate_unfiltered":0.0,"click_rate_unfiltered_tracked":0.0,"reply_rate":0.0,"spam_block_rate":0.0,"opt_out_rate":0.0,"demo_rate":0.0,"loaded_stats":true,"cc_emails":"","bcc_emails":"","underperforming_touches_count":0,"sharing_permission":{"visibility":"restricted","access_type":null,"object_type":"EmailerCampaign","object_id":"6a5ae77f77552d00147f7258","is_owner":true,"owner_id":"69d3cbed7bc8d500194ed14c","sharing_accesses":[]}},{"id":"6a5ae6f5a5c11900104d979a","name":"Test
        VCR Provisioning Cadence - Administrator","description":null,"archived":false,"created_at":"2026-07-18T02:37:41.159Z","emailer_schedule_id":null,"max_emails_per_day":null,"user_id":"69d3cbed7bc8d500194ed14c","same_account_reply_policy_cd":null,"excluded_account_stage_ids":[],"excluded_contact_stage_ids":[],"contact_email_event_to_stage_mapping":{},"label_ids":[],"create_task_if_email_open":false,"email_open_trigger_task_threshold":3,"mar[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.apollo.io/api/v1/emailer_campaigns/6a5ae77f77552d00147f7258/archive
  response:
    body:
      string: '{"emailer_campaign":{"id":"6a5ae77f77552d00147f7258","name":"Test External
        Sequence Update VCR","description":null,"archived":true,"created_at":"2026-07-18T02:39:59.434Z","emailer_schedule_id":null,"max_emails_per_day":null,"user_id":"69d3cbed7bc8d500194ed14c","same_account_reply_policy_cd":null,"excluded_account_stage_ids":[],"excluded_contact_stage_ids":[],"contact_email_event_to_stage_mapping":{},"label_ids":[],"create_task_if_email_open":false,"email_open_trigger_task_threshold":3,"mark_finished_if_clic[...]
[...]
- request:
    body: '{"label": "subject", "type": "string", "modality": "contact"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.apollo.io/api/v1/fields
  response:
    body:
      string: '{"error":"subject already exists"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-24-hour-requests-left:
      - '579'
      x-24-hour-usage:
      - '21'
      x-hourly-requests-left:
      - '179'
      x-hourly-usage:
      - '21'
      x-http-request-id:
      - '8260027049176064555'
      x-minute-requests-left:
      - '49'
      x-minute-usage:
      - '1'
      x-rate-limit-24-hour:
      - '600'
      x-rate-limit-hourly:
      - '200'
      x-rate-limit-minute:
      - '50'
    status:
      code: 422
      message: Unprocessable Entity
[...]
- request:
    body: '{"name": "Test External Sequence VCR", "permissions": "team_can_use", "active":
      true, "emailer_steps": [{"type": "auto_email", "wait_time": 1, "wait_mode":
      "day", "emailer_touches": [{"type": "new_thread", "status": "approved", "include_signature":
      true, "emailer_template": {"subject": "{{subject}}", "body_html": "{{message}}"}}]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.apollo.io/api/v1/sequences
  response:
    body:
      string: '{"emailer_campaign":{"id":"6a5aec55541db2001c600f58","name":"Test External
        Sequence VCR","description":null,"archived":false,"created_at":"2026-07-18T03:00:37.540Z","emailer_schedule_id":null,"max_emails_per_day":null,"user_id":"69d3cbed7bc8d500194ed14c","same_account_reply_policy_cd":null,"excluded_account_s[...]
[...]
