interactions:
- request:
    body: '{"page": 1, "per_page": 10}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.apollo.io/api/v1/emailer_campaigns/search
  response:
    body:
      string: '{"pagination":{"page":1,"per_page":10,"total_entries":1,"total_pages":1},"breadcrumbs":[],"emailer_campaigns":[{"id":"6a0cdfe8da382d001cc8423e","name":"Aryan''s
        Sequence","archived":false,"created_at":"2026-05-19T22:10:48.396Z","emailer_schedule_id":"69d3cbee7bc8d500194ed14e","max_emails_per_day":null,"user_id":"69d3cbed7bc8d500194ed14c","same_account_reply_policy_cd":null,"excluded_account_stage_ids":["69d3cbed7bc8d500194ed00b","69d3cbed7bc8d500194ed00c","69d3cbed7bc8d500194ed00d","69d3cbed7bc8d500194ed00e"],"excluded_contact_stage_ids":["69d3cbed7bc8d500194ed008","69d3cbed7bc8d500194ed007","69d3cbed7bc8d500194ed003","69d3cbed7bc8d500194ed004"],"contact_email_event_to_stage_mapping":{},"label_ids":[],"create_task_if_email_open":false,"email_open_trigger_task_threshold":3,"mark_finished_if_click":false,"active":false,"days_to_wait_before_mark_as_response":5,"starred_by_user_ids":[],"mark_finished_if_reply":true,"mark_finished_if_interested":true,"mark_paused_if_ooo":true,"sequence_by_exact_daytime":null,"permissions":"team_can_use","last_used_at":null,"sequence_ruleset_id":null,"ignore_apollo_global_email_bounce_list":null,"folder_id":null,"same_account_reply_delay_days":30,"is_performing_poorly":false,"num_contacts_email_status_extrapolated":0,"remind_ab_test_results":false,"ab_test_step_ids":[],"prioritized_by_user":null,"creation_type":"new","object_owner_id":"69d3cbed7bc8d500194ed14c","dmp_ids":null,"content_center_type":"new_cc","product_profile_ids":[],"status_reason":null,"auto_pause_warning_level":null,"auto_paused_at":null,"auto_pause_bounce_rate":null,"allowed_send_from_domains":[],"num_steps":0,"unique_scheduled":0,"unique_delivered":0,"unique_bounced":0,"unique_opened":0,"unique_hard_bounced":0,"unique_spam_blocked":0,"unique_replied":0,"unique_demoed":0,"unique_clicked":0,"unique_unsubscribed":0,"unique_opened_unfiltered":0,"unique_clicked_unfiltered":0,"unique_delivered_open_tracked":0,"unique_delivered_click_tracked":0,"bounce_rate":0.0,"hard_bounce_rate":0.0,"open_rate":0.0,"open_rate_tracked":0.0,"open_rate_unfiltered":0.0,"open_rate_unfiltered_tracked":0.0,"click_rate":0.0,"click_rate_tracked":0.0,"click_rate_unfiltered":0.0,"click_rate_unfiltered_tracked":0.0,"reply_rate":0.0,"spam_block_rate":0.0,"opt_out_rate":0.0,"demo_rate":0.0,"loaded_stats":true,"cc_emails":"","bcc_emails":"","underperforming_touches_count":0,"sharing_permission":{"visibility":"restricted","access_type":null,"object_type":"EmailerCampaign","object_id":"6a0cdfe8da382d001cc8423e","is_owner":true,"owner_id":"69d3cbed7bc8d500194ed14c","sharing_accesses":[]}}],"num_fetch_result":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"49d66b6743d6e5e0d772c37f2d457baa"
      x-24-hour-requests-left:
      - '599'
      x-24-hour-usage:
      - '1'
      x-hourly-requests-left:
      - '199'
      x-hourly-usage:
      - '1'
      x-minute-requests-left:
      - '49'
      x-minute-usage:
      - '1'
      x-rate-limit-24-hour:
      - '600'
      x-rate-limit-hourly:
      - '200'
      x-rate-limit-minute:
      - '50'
      x-transaction-id:
      - e930d586-fdb6-47be-b097-2247721c1117
    status:
      code: 200
      message: OK
version: 1
