interactions:
- request:
    body: '{"label": "Test External Field VCR", "type": "string", "modality": "contact"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.apollo.io/api/v1/fields
  response:
    body:
      string: '{"fields":[{"id":"contact.6a0ce38ff0c9f6000c9b728b","category":"person","context":["crm_push","csv_export","finder","prompt","settings","snippets","followup_email","formula"],"description":null,"editable":false,"example":null,"field_name":"contact.Test
        External Field VCR","group":null,"icon_class":null,"label":"Test External
        Field VCR","modality":"contact","parent":null,"source":"custom","type":"string","finder_view_ids":[],"project_workspace_id":null,"content_center_type":null,"product_profile_ids":[],"finder_views":[],"is_local":false,"created_at":"2026-05-19T22:26:23.120Z","meta":{"max_length":1000000,"push_only":false,"computed_type":"manual","visibility_status":"active"}}],"field":{"id":"contact.6a0ce38ff0c9f6000c9b728b","category":"person","context":["crm_push","csv_export","finder","prompt","settings","snippets","followup_email","formula"],"description":null,"editable":false,"example":null,"field_name":"contact.Test
        External Field VCR","group":null,"icon_class":null,"label":"Test External
        Field VCR","modality":"contact","parent":null,"source":"custom","type":"string","finder_view_ids":[],"project_workspace_id":null,"content_center_type":null,"product_profile_ids":[],"finder_views":[],"is_local":false,"created_at":"2026-05-19T22:26:23.120Z","meta":{"max_length":1000000,"push_only":false,"computed_type":"manual","visibility_status":"active"}},"typed_custom_fields":[{"id":"6a0ce38ff0c9f6000c9b728b","modality":"contact","name":"Test
        External Field VCR","type":"string","picklist_options":[],"mapped_crm_field":null,"additional_mapped_crm_field":null,"is_readonly_mapped_crm_field":null,"picklist_options_last_synced_at":null,"picklist_value_set_id":null,"mirrored":false,"system_name":null,"text_field_max_length":1000000,"finder_view_ids":[],"associated_modality":null,"json_schema":null,"parent_id":null,"project_workspace_id":null,"content_center_type":null,"product_profile_ids":[],"is_local":false,"is_readonly":null,"is_ai_field":false,"is_formula_field":false,"is_dynamic_field":false,"dynamic_field_type":null,"finder_views":[]}],"typed_custom_field":{"id":"6a0ce38ff0c9f6000c9b728b","modality":"contact","name":"Test
        External Field VCR","type":"string","picklist_options":[],"mapped_crm_field":null,"additional_mapped_crm_field":null,"is_readonly_mapped_crm_field":null,"picklist_options_last_synced_at":null,"picklist_value_set_id":null,"mirrored":false,"system_name":null,"text_field_max_length":1000000,"finder_view_ids":[],"associated_modality":null,"json_schema":null,"parent_id":null,"project_workspace_id":null,"content_center_type":null,"product_profile_ids":[],"is_local":false,"is_readonly":null,"is_ai_field":false,"is_formula_field":false,"is_dynamic_field":false,"dynamic_field_type":null,"finder_views":[]},"field_groups":[{"id":"69d3cbed7bc8d500194ed04c","name":"No
        group","display_order":6,"modality":"contact","type":"ungrouped","field_ids":["contact.6a0ce1b74f72ed001868563a","contact.6a0ce2de092d410018287b1d","contact.6a0ce38ff0c9f6000c9b728b"],"team_id":"69d3cbed7bc8d500194ecfff"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"20dc07ee1046d1ad0f17987bf07b5e21"
      x-24-hour-requests-left:
      - '596'
      x-24-hour-usage:
      - '4'
      x-hourly-requests-left:
      - '196'
      x-hourly-usage:
      - '4'
      x-minute-requests-left:
      - '49'
      x-minute-usage:
      - '1'
      x-rate-limit-24-hour:
      - '600'
      x-rate-limit-hourly:
      - '200'
      x-rate-limit-minute:
      - '50'
      x-transaction-id:
      - adfc896b-ffeb-4619-9279-a774de91becf
    status:
      code: 200
      message: OK
version: 1
