interactions:
- request:
    body: '{"name": "Test External Sequence Update VCR", "permissions": "team_can_use",
      "active": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.apollo.io/api/v1/sequences
  response:
    body:
      string: '{"emailer_campaign":{"id":"6a5acd3ddd966100109fd473","name":"Test External
        Sequence Update VCR","description":null,"archived":false,"created_at":"2026-07-18T00:47:57.355Z","emailer_schedule_id":null,"max_emails_per_day":null,"user_id":"69d3cbed7bc8d500194ed14c","same_account_reply_policy_cd":null,"excluded_account_stage_ids":[],"excluded_contact_stage_ids":[],"contact_email_event_to_stage_mapping":{},"label_ids":[],"create_task_if_email_open":false,"email_open_trigger_task_threshold":3,"mark_finished_if_click":false,"active":true,"days_to_wait_before_mark_as_response":5,"starred_by_user_ids":[],"mark_finished_if_reply":true,"mark_finished_if_interested":true,"mark_paused_if_ooo":true,"mark_finished_if_phone_call_connected":null,"sequence_by_exact_daytime":null,"last_used_at":null,"sequence_ruleset_id":null,"ignore_apollo_global_email_bounce_list":null,"folder_id":null,"same_account_reply_delay_days":30,"is_performing_poorly":false,"num_contacts_email_status_extrapolated":null,"remind_ab_test_results":false,"ab_test_step_ids":[],"prioritized_by_user":null,"creation_type":"new","object_owner_id":"69d3cbed7bc8d500194ed14c","dmp_ids":null,"content_center_type":"new_cc","product_profile_ids":[],"context_card_ids":[],"status_reason":"manual_approve","auto_pause_warning_level":null,"auto_paused_at":null,"auto_pause_bounce_rate":null,"allowed_send_from_domains":[],"num_steps":0,"emailer_steps":[],"unique_scheduled":"loading","unique_delivered":"loading","unique_bounced":"loading","unique_opened":"loading","unique_hard_bounced":"loading","unique_spam_blocked":"loading","unique_replied":"loading","unique_demoed":"loading","unique_clicked":"loading","unique_unsubscribed":"loading","unique_opened_unfiltered":"loading","unique_clicked_unfiltered":"loading","unique_delivered_open_tracked":"loading","unique_delivered_click_tracked":"loading","bounce_rate":"loading","hard_bounce_rate":"loading","open_rate":"loading","open_rate_tracked":"loading","open_rate_unfiltered":"loading","open_rate_unfiltered_tracked":"loading","click_rate":"loading","click_rate_tracked":"loading","click_rate_unfiltered":"loading","click_rate_unfiltered_tracked":"loading","reply_rate":"loading","spam_block_rate":"loading","opt_out_rate":"loading","demo_rate":"loading","loaded_stats":true,"contact_statuses":{"active":"loading","failed":0,"paused":"loading","finished":"loading","bounced":"loading","hard_bounced":"loading","spam_blocked":"loading","not_sent":"loading"},"cc_emails":"","bcc_emails":"","underperforming_touches_count":0,"sharing_permission":{"visibility":"restricted","access_type":null,"object_type":"EmailerCampaign","object_id":"6a5acd3ddd966100109fd473","is_owner":true,"owner_id":"69d3cbed7bc8d500194ed14c","sharing_accesses":[]},"auto_pause_enabled":false,"auto_pause_config":{"evaluation_window_days":7,"min_volume":200,"warning_threshold_pct":5.0,"auto_pause_threshold_pct":10.0}},"sharing_accesses":[],"emailer_steps":[],"emailer_touches":[],"emailer_templates":[],"attachments":[],"team":{"id":"69d3cbed7bc8d500194ecfff","sequences_finder_empty":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"ee28cdc78c857c6593fd9de9b0dc2760"
      x-24-hour-requests-left:
      - '598'
      x-24-hour-usage:
      - '2'
      x-hourly-requests-left:
      - '198'
      x-hourly-usage:
      - '2'
      x-http-request-id:
      - '-5979255293056005357'
      x-minute-requests-left:
      - '48'
      x-minute-usage:
      - '2'
      x-rate-limit-24-hour:
      - '600'
      x-rate-limit-hourly:
      - '200'
      x-rate-limit-minute:
      - '50'
      x-transaction-id:
      - 2e061142-53b2-49a1-a604-046119a27836
    status:
      code: 200
      message: OK
- request:
    body: '{"emailer_steps": []}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.apollo.io/api/v1/sequences/6a5acd3ddd966100109fd473
  response:
    body:
      string: '{"emailer_campaign":{"id":"6a5acd3ddd966100109fd473","name":"Test External
        Sequence Update VCR","description":null,"archived":false,"created_at":"2026-07-18T00:47:57.355Z","emailer_schedule_id":null,"max_emails_per_day":null,"user_id":"69d3cbed7bc8d500194ed14c","[...]
