interactions:
- request:
    body: '{"page": 1, "per_page": 100}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.apollo.io/api/v1/emailer_campaigns/search
  response:
    body:
      string: '{"pagination":{"page":1,"per_page":100,"total_entries":1,"total_pages":1},"breadcrumbs":[],"emailer_campaigns":[{"id":"6a5aec71120308000c776e8a","name":"Test
        VCR Provisioning Cadence - Administrator","description":null,"archived":false,"created_at":"2026-07-18T03:01:05.118Z","emailer_schedule_id":null,"max_emails_per_day":null,"user_id":"69d3cbed7bc8d500194ed14c","same_account_reply_policy_cd":null,"excluded_account_stage_ids":[],"excluded_contact_stage_ids":[],"contact_email_event_to_stage_mapping":{},"label_ids":[],"create_task_if_email_open":false,"email_open_trigger_task_threshold":3,"mark_finished_if_click":false,"active":true,"days_to_wait_before_mark_as_response":5,"starred_by_user_ids":[],"mark_finished_if_reply":true,"mark_finished_if_interested":true,"mark_paused_if_ooo":true,"mark_finished_if_phone_call_connected":null,"sequence_by_exact_daytime":null,"last_used_at":null,"sequence_ruleset_id":null,"ignore_apollo_global_email_bounce_list":null,"folder_id":null,"same_account_reply_delay_days":30,"is_performing_poorly":false,"num_contacts_email_status_extrapolated":0,"remind_ab_test_results":false,"ab_test_step_ids":[],"prioritized_by_user":null,"creation_type":"new","object_owner_id":"69d3cbed7bc8d500194ed14c","dmp_ids":null,"content_center_type":"new_cc","product_profile_ids":[],"context_card_ids":[],"status_reason":"manual_approve","auto_pause_warning_level":null,"auto_paused_at":null,"auto_pause_bounce_rate":null,"allowed_send_from_domains":[],"num_steps":2,"emailer_steps":[{"id":"6a5aec73e77a6d00202f6db4","position":1,"wait_time":1,"wait_mode":"day","type":"auto_email"},{"id":"6a5aec73e77a6d00202f6db6","position":2,"wait_time":2,"wait_mode":"day","type":"auto_email"}],"unique_scheduled":0,"unique_delivered":0,"unique_bounced":0,"unique_opened":0,"unique_hard_bounced":0,"unique_spam_blocked":0,"unique_replied":0,"unique_demoed":0,"unique_clicked":0,"unique_unsubscribed":0,"unique_opened_unfiltered":0,"unique_clicked_unfiltered":0,"unique_delivered_open_tracked":0,"unique_delivered_click_tracked":0,"bounce_rate":0.0,"hard_bounce_rate":0.0,"open_rate":0.0,"open_rate_tracked":0.0,"open_rate_unfiltered":0.0,"open_rate_unfiltered_tracked":0.0,"click_rate":0.0,"click_rate_tracked":0.0,"click_rate_unfiltered":0.0,"click_rate_unfiltered_tracked":0.0,"reply_rate":0.0,"spam_block_rate":0.0,"opt_out_rate":0.0,"demo_rate":0.0,"loaded_stats":true,"cc_emails":"","bcc_emails":"","underperforming_touches_count":0,"sharing_permission":{"visibility":"restricted","access_type":null,"object_type":"EmailerCampaign","object_id":"6a5aec71120308000c776e8a","is_owner":true,"owner_id":"69d3cbed7bc8d500194ed14c","sharing_accesses":[]}}],"num_fetch_result":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"822f2ffae1a666754e0525c74ca15a60"
      x-24-hour-requests-left:
      - '583'
      x-24-hour-usage:
      - '17'
      x-hourly-requests-left:
      - '193'
      x-hourly-usage:
      - '7'
      x-http-request-id:
      - '7503974050429312902'
      x-minute-requests-left:
      - '49'
      x-minute-usage:
      - '1'
      x-rate-limit-24-hour:
      - '600'
      x-rate-limit-hourly:
      - '200'
      x-rate-limit-minute:
      - '50'
      x-transaction-id:
      - 6b8705cf-76cd-4cf3-af68-360dcd5cae73
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.apollo.io/api/v1/emailer_campaigns/6a5aec71120308000c776e8a/archive
  response:
    body:
      string: '{"emailer_campaign":{"id":"6a5aec71120308000c776e8a","name":"Test VCR
        Provisioning Cadence - Administrator","description":null,"archived":true,"created_at":"2026-07-18T03:01:05.118Z","emailer_schedule_id":null,"max_emails_per_day":null,"user_id":"69d3cbed7bc8d500194ed14c","same_account_reply_policy_cd":null,"excluded_account_stage_ids":[],"excluded_contact_stage_ids":[],"contact_email_event_to_stage_mapping":{},"label_ids":[],"create_task_if_email_open":false,"email_open_trigger_task_threshold":3,"mark_fini[...]
- request:
    body: '{"label": "subject", "type": "text", "modality": "contact"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.apollo.io/api/v1/fields
  response:
    body:
      string: '{"error":"subject already exists"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-24-hour-requests-left:
      - '571'
      x-24-hour-usage:
      - '29'
      x-hourly-requests-left:
      - '171'
      x-hourly-usage:
      - '29'
      x-http-request-id:
      - '2693677255427678955'
      x-minute-requests-left:
      - '49'
      x-minute-usage:
      - '1'
      x-rate-limit-24-hour:
      - '600'
      x-rate-limit-hourly:
      - '200'
      x-rate-limit-minute:
      - '50'
    status:
      code: 422
      message: Unprocessable Entity
[...]
- request:
    body: '{"name": "CAD-2026-00011", "nodes": [], "connections": {}, "settings":
      {}}'
    headers:
      Content-Type:
      - application/json
      X-N8N-API-KEY:
      - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwMjM5MTM3ZS0wMDNiLTRmNTktOTY5OC01YzgwYTBhOTFkZjEiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiNmM3OWZkMWQtOWE3MS00MzRlLWJjYTMtZTdlZTczYThhMmYwIiwiaWF0IjoxNzgzODE3NTcyfQ.5qdDa_j445ppUXDvKF5Z7_SthaLHkoKp1lZpOH9TgRA
    method: POST
    uri: https://n8n.capybaara.com/api/v1/workflows
  response:
    body:
      string: '{"name":"CAD-2026-00011","nodes":[],"connections":{},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"active":false,"versionId":"0dc31663-08ec-4a1c-9381-08b3c0db2775","id":"uAqXZ0XfRoJmr8va","description":null,"staticData":null,"meta":null,"pinData":null,"activeVersionId":null,"updatedAt":"2026-07-18T03:02:42.683Z","createdAt":"2026-07-18T03:02:42.683Z","isArchived":false,"versionCounter":1,"triggerCount":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"1b7-+Pne01ufmkQqpN1BFNcZ3HuUjPY"
    status:
      code: 200
      message: OK
- request:
    body: '{"destinationProjectId": "nmh3gteV3JCn1t9B"}'
    headers:
      Content-Type:
      - application/json
      X-N8N-API-KEY:
      - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwMjM5MTM3ZS0wMDNiLTRmNTktOTY5OC01YzgwYTBhOTFkZjEiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiNmM3OWZkMWQtOWE3MS00MzRlLWJjYTMtZTdlZTczYThhMmYwIiwiaWF0IjoxNzgzODE3NTcyfQ.5qdDa_j445ppUXDvKF5Z7_SthaLHkoKp1lZpOH9TgRA
    method: PUT
    uri: https://n8n.capybaara.com/api/v1/workflows/uAqXZ0XfRoJmr8va/transfer
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: '{"name": "Test VCR Provisioning Cadence - Administrator", "permissions":
      "team_can_use", "active": true, "emailer_steps": [{"type": "auto_email", "wait_time":
      1, "wait_mode": "day", "emailer_touches": [{"type": "new_thread", "status":
      "approved", "include_signature": true, "emailer_template": {"subject": "{{subject}}",
      "body_html": "{{message}}"}}]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.apollo.io/api/v1/sequences
  response:
    body:
      string: '{"emailer_campaign":{"id":"6a5aecd3bcbdfc0020ac5853","name":"Test VCR
        Provisioning Cadence - Administrator","description":null,"archived":false,"created_at":"2026-07-18T03:02:43.583Z","emailer_schedule_id":null,"max_emails_per_day":null,"user_id":"69d3cbed7bc8d500194ed14c","same_account_reply_policy_cd":null,[...]
- request:
    body: '{"page": 1, "per_page": 10, "q_name": "Test VCR Provisioning Cadence -
      Administrator"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.apollo.io/api/v1/emailer_campaigns/search
  response:
    body:
      string: '{"pagination":{"page":1,"per_page":10,"total_entries":1,"total_pages":1},"breadcrumbs":[{"label":"Name","signal_field_name":"q_name","value":"Test
        VCR Provisioning Cadence - Administrator","display_name":"Test VCR Provisioning
        Cadence - Administrator"}],"emailer_campaigns":[{"id":"6a5aecd3bcbdfc0020ac5853","name":"Test
        VCR Provisioning Cadence - Administrator","description":null,"archived":false,"created_at":"2026-07-18T03:02:43.583Z","emailer_schedule_id":null,"max_emails_per_day":null,"user_id":"69d3cbed7bc8d500194ed14c","same_account_reply_policy_cd":null,"excluded_account_stage_ids":[],"excluded_contact_stage_ids":[],"contact_email_event_to_stage_mapping":{},"label_ids":[],"c[...]
- request:
    body: '{"emailer_steps": [{"type": "auto_email", "wait_time": 1, "wait_mode":
      "day", "emailer_touches": [{"type": "new_thread", "status": "approved", "include_signature":
      true, "emailer_template": {"subject": "{{subject}}", "body_html": "{{message}}"}}],
      "position": 1}, {"type": "auto_email", "wait_time": 2, "wait_mode": "day", "emailer_touches":
      [{"type": "new_thread", "status": "approved", "include_signature": true, "emailer_template":
      {"subject": "[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.apollo.io/api/v1/emailer_campaigns/6a5aecd3bcbdfc0020ac5853/abort
  response:
    body:
      string: '{"emailer_campaign":{"id":"6a5aecd3bcbdfc0020ac5853","unique_scheduled":0,"active":false,"contact_statuses":{"active":0,"failed":0,"paused":0,"finished":0,"bounced":0,"hard_bounced":0,"spam_blocked":0,"not_sent":0}},"emailer_touches":[{"id":"6a5aecd5541db2001c601157","status":"approved","unique_scheduled":0},{"id":"6a5aecd5541db2001c601155","status":"approved","unique_scheduled":0}],"emailer_steps":[{"id":"6a5aecd5541db2001c601154","emailer_campaign_id":"6a5aecd3bcbdfc0020ac5853","position":1,"wait_time":1,"type":"auto_email","wait_mode":"day","note":null,"max_emails_per_day":null,"exact_datetime":null,"priority":null,"auto_skip_in_x_days":null,"counts":{"active":0,"paused":0,"finished":0,"bounced":0,"spam_blocked":0,"hard_bounced":0,"not_sent":0},"ab_test_details":{}},{"id":"6a5aecd5541db2001c601156","emailer_campaign_id":"6a5aecd3bcbdfc0020ac5853","position":2,"wait_time":2,"type":"auto_email","wait_mode":"day","note":null,"max_emails_per_day":null,"exact_datetime":null,"priority":null,"auto_skip_in_x_days":null,"counts":{"active":0,"paused":0,"finished":0,"bounced":0,"spam_blocked":0,"hard_bounced":0,"not_sent":0},"ab_test_details":{}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"2702909e2fa8c20da48b4d9f6e9ffece"
      x-24-hour-requests-left:
      - '599'
      x-24-hour-usage:
      - '1'
      x-hourly-requests-left:
      - '199'
      x-hourly-usage:
      - '1'
      x-http-request-id:
      - '6672316511019494283'
      x-minute-requests-left:
      - '49'
      x-minute-usage:
      - '1'
      x-rate-limit-24-hour:
      - '600'
      x-rate-limit-hourly:
      - '200'
      x-rate-limit-minute:
      - '50'
      x-transaction-id:
      - 098e1b61-e8c3-4f54-8f14-9082734ad5bc
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.apollo.io/api/v1/emailer_campaigns/6a5aecd3bcbdfc0020ac5853/approve
  response:
    body:
      string: '{"emailer_campaign":{"id":"6a5aecd3bcbdfc0020ac5853","unique_scheduled":0,"active":true,"contact_statuses":{"active":0,"failed":0,"paused":0,"finished":0,"bounced":0,"hard_bounced":0,"spam_blocked":0,"not_sent":0}},"emailer_touches":[{"id":"6a5aecd5541db2001c601157","status":"approved","unique_scheduled":0},{"id":"6a5aecd5541db2001c601155","status":"approved","unique_scheduled":0}],"emailer_steps":[{"id":"6a5aecd5541db2001c601154","emailer_campaign_id":"6a5aecd3bcbdfc0020ac5853","position":1,"wait_time":1,"type":"auto_email","wait_mode":"day","note":null,"max_emails_per_day":null,"exact_datetime":null,"priority":null,"auto_skip_in_x_days":null,"counts":{"active":0,"paused":0,"finished":0,"bounced":0,"spam_blocked":0,"hard_bounced":0,"not_sent":0},"ab_test_details":{}},{"id":"6a5aecd5541db2001c601156","emailer_campaign_id":"6a5aecd3bcbdfc0020ac5853","position":2,"wait_time":2,"type":"auto_email","wait_mode":"day","note":null,"max_emails_per_day":null,"exact_datetime":null,"priority":null,"auto_skip_in_x_days":null,"counts":{"active":0,"paused":0,"finished":0,"bounced":0,"spam_blocked":0,"hard_bounced":0,"not_sent":0},"ab_test_details":{}}],"team":{"id":"69d3cbed7bc8d500194ecfff","sequences_finder_empty":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"d9b0fedbefff2ea977afbcc0b2da8236"
      x-24-hour-requests-left:
      - '599'
      x-24-hour-usage:
      - '1'
      x-hourly-requests-left:
      - '199'
      x-hourly-usage:
      - '1'
      x-http-request-id:
      - '-6383910527590899502'
      x-minute-requests-left:
      - '49'
      x-minute-usage:
      - '1'
      x-rate-limit-24-hour:
      - '600'
      x-rate-limit-hourly:
      - '200'
      x-rate-limit-minute:
      - '50'
      x-transaction-id:
      - 474622f2-e2ba-49dd-a6ef-52590c7cefc3
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": 1, "per_page": 10, "q_name": "Test VCR Provisioning Cadence -
      Administrator"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.apollo.io/api/v1/emailer_campaigns/search
  response:
    body:
      string: '{"pagination":{"page":1,"per_page":10,"total_entries":0,"total_pages":0},"breadcrumbs":[{"label":"Name","signal_field_name":"q_name","value":"Test
        VCR Provisioning Cadence - Administrator","display_name":"Test VCR Provisioning
        Cadence - Administrator"}],"emailer_campaigns":[],"num_fetch_result":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"2b47409e08515c47fa983208ad77091b"
      x-24-hour-requests-left:
      - '578'
      x-24-hour-usage:
      - '22'
      x-hourly-requests-left:
      - '188'
      x-hourly-usage:
      - '12'
      x-http-request-id:
      - '3447974748172267267'
      x-minute-requests-left:
      - '44'
      x-minute-usage:
      - '6'
      x-rate-limit-24-hour:
      - '600'
      x-rate-limit-hourly:
      - '200'
      x-rate-limit-minute:
      - '50'
      x-transaction-id:
      - 5eef7d9b-7411-4c3f-abc6-9a96b2a87e6b
    status:
      code: 200
      message: OK
version: 1
