interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.apollo.io/api/v1/email_accounts
  response:
    body:
      string: "{\"email_accounts\":[{\"aliases\":[\"aquiveal@gmail.com\",\"hello@aquiveal.xyz\"],\"id\":\"69d3cbed7bc8d500194ecffe\",\"user_id\":\"69d3cbed7bc8d500194ed14c\",\"email\":\"aquiveal@gmail.com\",\"type\":\"gmail\",\"active\":true,\"default\":true,\"seconds_delay_between_emails\":600,\"provider_display_name\":\"Gmail\",\"nylas_provider\":null,\"last_synced_at\":\"2026-07-18T01:43:18.753+00:00\",\"email_sending_policy_cd\":null,\"sendgrid_api_user\":null,\"mailgun_domains\":null,\"nylas_api_version\":null,\"signature_edit_disabled\":false,\"revoked_at\":\"2026-04-06T15:06:21.336+00:00\",\"inactive_reason\":\"immediately
        deactivated after oauth\",\"needs_reauth_at\":null,\"unlink_error_code\":null,\"created_at\":\"2026-04-06T15:06:21.337Z\",\"inbox_placement_test_health_status\":null,\"unlink_error_message\":\"immediately
        deactivated after oauth\",\"sendgrid_api_key_v3\":null,\"email_daily_threshold\":50,\"deliverability_score\":{\"_id\":\"6a4b30df2b52d20001cb62f6\",\"avg_click_rate\":0.0,\"avg_daily_sent\":0.0,\"avg_delivered_rate\":0.0,\"avg_hard_bounce_rate\":0.0,\"avg_open_rate\":0.0,\"avg_reply_rate\":0.0,\"avg_spam_block_rate\":0.0,\"avg_unsubscribe_rate\":0.0,\"click_rate_score\":0.0,\"concurrency_locks\":null,\"created_at\":\"2026-07-06T04:36:47.033Z\",\"daily_email_sent_score\":0.0,\"date_from\":\"2026-07-06\",\"date_to\":\"2026-07-12\",\"deliverability_score\":0.0,\"domain_health_score\":0.0,\"email_account_domain_age_score\":0.0,\"email_account_id\":\"69d3cbed7bc8d500194ecffe\",\"hard_bounce_score\":0.0,\"open_rate_score\":0.0,\"random\":0.10463618,\"reply_rate_score\":0.0,\"spam_block_score\":0.0,\"sum_clicked_count\":0.0,\"sum_delivered_clicked_tracked_count\":0.0,\"sum_delivered_count\":0.0,\"sum_delivered_open_tracked_count\":0.0,\"sum_hard_bounced_count\":0.0,\"sum_opened_count\":0.0,\"sum_replied_count\":0.0,\"sum_sent_count\":0.0,\"sum_spam_blocked_count\":0.0,\"sum_unsubscribed_count\":0.0,\"team_id\":\"69d3cbed7bc8d500194ecfff\",\"unsubscribe_rate_score\":0.0,\"updated_at\":\"2026-07-06T04:36:47.033Z\",\"user_id\":\"69d3cbed7bc8d500194ed14c\",\"id\":\"6a4b30df2b52d20001cb62f6\",\"key\":\"6a4b30df2b52d20001cb62f6\"},\"max_outbound_emails_per_hour\":6,\"limits_editable\":true,\"show_new_domain_warning\":false,\"domain_enforcement_action\":\"allow\",\"block_sending_for_unhealthy_domain\":false,\"tracking_domain_id\":null,\"is_free_domain\":true,\"is_opted_in_mailwarming\":null,\"mailwarming_max\":0,\"mailwarming_to_send_daily\":0,\"mailwarming_to_send_incrementor\":0,\"mailwarming_status\":\"never_started\",\"mailwarming_eta\":null,\"mailwarming_subject_token\":null,\"mailwarming_score\":0,\"mailwarming_score_banner\":\"start_warm_up_for_score\",\"mailwarming_on_weekdays_only\":true,\"true_warmup_enabled\":false,\"true_warmup_daily_limit\":0,\"true_warmup_progress\":0,\"true_warmup_status\":null,\"true_warmup_approximate_end_date\":null,\"true_warmup_last_throttled_at\":null,\"true_warmup_enable_thresholds\":false,\"true_warmup_thresholds\":{\"open_rate\":20,\"reply_rate\":1,\"bounce_rate\":1,\"spam_block_rate\":1},\"active_campaigns_count\":0,\"mailwarming_vendor\":{\"id\":null,\"inbox_id\":null,\"inbox_status\":null,\"unique_string\":null,\"start_date\":null,\"end_date\":null,\"schedule_last_updated_at\":null,\"completion_percent\":0,\"progress_type\":\"progressive\",\"min_daily_emails\":10,\"max_daily_emails\":40,\"daily_reply_rate\":30,\"always_warmup_enabled\":null,\"disallowed_reason\":null,\"billing\":{\"cost\":0,\"credit_type\":\"credits\",\"last_billed_at\":null,\"next_billing_at\":null,\"billing_cycle\":\"30
        days\"}},\"nudge_user_to_send_mails\":true,\"signature_html\":\"\\u003cdiv
        dir=\\\"ltr\\\"\\u003e\\u003cspan\\u003e\\u003cp dir=\\\"ltr\\\" style=\\\"line-height:1.656;margin-top:0pt;margin-bottom:0pt\\\"\\u003e\\u003cspan
        style=\\\"font-family:\\u0026quot;Times New Roman\\u0026quot;,serif;color:rgb(136,136,136);background-color:transparent;vertical-align:baseline\\\"\\u003e\\u003cfont
        size=\\\"4\\\"\\u003eAryan Singh\\u003c/font\\u003e\\u003c/span\\u003e\\u003cspan
        style=\\\"font-size:11pt;font-family:\\u0026quot;Times New [...]
