interactions:
- request:
    body: '{"first_name": "Test", "last_name": "External API Update", "email": "test_external_api_update@example.com",
      "run_dedupe": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.apollo.io/api/v1/contacts
  response:
    body:
      string: "{\"contact\":{\"contact_roles\":[],\"id\":\"6a0ce25e092d4100101f54b2\",\"first_name\":\"Test\",\"last_name\":\"External
        Api Update\",\"name\":\"Test External Api Update\",\"linkedin_url\":null,\"title\":null,\"contact_stage_id\":\"69d3cbed7bc8d500194ed001\",\"owner_id\":\"69d3cbed7bc8d500194ed14c\",\"creator_id\":\"69d3cbed7bc8d500194ed14c\",\"person_id\":null,\"email_needs_tickling\":false,\"organization_name\":\"Selbstst\xE4ndig\",\"source\":\"api\",\"original_source\":\"api\",\"organization_id\":\"54a21f5774686930c2f8740e\",\"headline\":null,\"photo_url\":null,\"present_raw_address\":null,\"linkedin_uid\":null,\"extrapolated_email_confidence\":null,\"salesforce_id\":null,\"salesforce_lead_id\":null,\"salesforce_contact_id\":null,\"salesforce_account_id\":null,\"crm_owner_id\":null,\"created_at\":\"2026-05-19T22:21:18.822Z\",\"emailer_campaign_ids\":[],\"direct_dial_status\":null,\"direct_dial_enrichment_failed_at\":null,\"email_status\":\"verified\",\"email_source\":null,\"account_id\":null,\"last_activity_date\":null,\"hubspot_vid\":null,\"hubspot_company_id\":null,\"crm_id\":null,\"merged_crm_ids\":null,\"updated_at\":\"2026-05-19T22:23:02.159Z\",\"queued_for_crm_push\":true,\"suggested_from_rule_engine_config_id\":null,\"email_unsubscribed\":null,\"person_deleted\":null,\"call_opted_out\":null,\"godmode_apollo_creator\":null,\"sanitized_phone\":null,\"street_address\":null,\"city\":null,\"state\":null,\"country\":null,\"postal_code\":null,\"formatted_address\":null,\"time_zone\":null,\"label_ids\":[],\"has_pending_email_arcgate_request\":false,\"has_email_arcgate_request\":false,\"existence_level\":\"full\",\"email\":\"test_external_api_update@example.com\",\"email_from_customer\":true,\"typed_custom_fields\":{},\"custom_field_errors\":{},\"crm_record_url\":null,\"email_status_unavailable_reason\":null,\"email_true_status\":\"User
        Managed\",\"updated_email_true_status\":true,\"source_display_name\":\"Created
        from API\",\"twitter_url\":null,\"facebook_url\":null,\"contact_campaign_statuses\":[],\"contact_emails\":[{\"email_md5\":\"98a507ecb848638ee2b044afcd2134b4\",\"email_sha256\":\"75f325375ca5107c2b7b7631983f3b7ac278acc4b085adce6b0663c675d31d6c\",\"email_status\":\"verified\",\"extrapolated_email_confidence\":null,\"position\":0,\"email\":\"test_external_api_update@example.com\",\"free_domain\":false,\"source\":\"User
        Managed\",\"third_party_vendor_name\":null,\"vendor_validation_statuses\":[],\"email_needs_tickling\":false,\"email_true_status\":\"User
        Managed\",\"email_status_unavailable_reason\":null}],\"next_contact_id\":null,\"intent_strength\":null,\"show_intent\":false,\"phone_numbers\":[],\"account_phone_note\":null,\"free_domain\":false,\"email_domain_catchall\":false},\"was_existing\":true,\"labels\":[]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"35c23402aea809cda91ae1651e3b2b74"
      x-24-hour-requests-left:
      - '594'
      x-24-hour-usage:
      - '6'
      x-hourly-requests-left:
      - '194'
      x-hourly-usage:
      - '6'
      x-minute-requests-left:
      - '47'
      x-minute-usage:
      - '3'
      x-rate-limit-24-hour:
      - '600'
      x-rate-limit-hourly:
      - '200'
      x-rate-limit-minute:
      - '50'
      x-transaction-id:
      - 41f0c19b-5131-44d4-99a6-6f74ef917fbe
    status:
      code: 200
      message: OK
- request:
    body: '{"typed_custom_fields": {"test_external_field": "Test Value"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.apollo.io/api/v1/contacts/6a0ce25e092d4100101f54b2
  response:
    body:
      string: "{\"contact\":{\"contact_roles\":[],\"id\":\"6a0ce25e092d4100101f54b2\",\"first_name\":\"Test\",\"last_name\":\"External
        Api Update\",\"name\":\"Test External Api Update\",\"linkedin_url\":null,\"title\":null,\"contact_stage_id\":\"69d3cbed7bc8d500194ed001\",\"owner_id\":\"69d3cbed7bc8d5001[...]
