interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.apollo.io/api/v1/email_accounts
  response:
    body:
      string: "{\"email_accounts\":[{\"aliases\":[\"aquiveal@gmail.com\",\"hello@aquiveal.xyz\"],\"id\":\"69d3cbed7bc8d500194ecffe\",\"user_id\":\"69d3cbed7bc8d500194ed14c\",\"email\":\"aquiveal@gmail.com\",\"type\":\"gmail\",\"active\":true,\"default\":true,\"seconds_delay_between_emails\":600,\"provider_display_name\":\"Gmail\",\"nylas_provider\":null,\"last_synced_at\":null,\"email_sending_policy_cd\":null,\"sendgrid_api_user\":null,\"mailgun_domains\":null,\"nylas_api_version\":null,\"signature_edit_disabled\":false,\"revoked_at\":\"2026-04-06T15:06:21.336+00:00\",\"inactive_reason\":\"immediately
        deactivated after oauth\",\"needs_reauth_at\":null,\"unlink_error_code\":null,\"created_at\":\"2026-04-06T15:06:21.337Z\",\"inbox_placement_test_health_status\":null,\"unlink_error_message\":\"immediately
        deactivated after oauth\",\"sendgrid_api_key_v3\":null,\"email_daily_threshold\":50,\"deliverability_score\":{\"_id\":\"6a0cdbd51189a6001cf74f89\",\"avg_click_rate\":0.0,\"avg_daily_sent\":0.0,\"avg_delivered_rate\":0.0,\"avg_hard_bounce_rate\":0.0,\"avg_open_rate\":0.0,\"avg_reply_rate\":0.0,\"avg_spam_block_rate\":0.0,\"avg_unsubscribe_rate\":0.0,\"click_rate_score\":0.0,\"concurrency_locks\":null,\"created_at\":\"2026-05-19T21:53:25.527Z\",\"daily_email_sent_score\":0.0,\"date_from\":\"2026-05-11\",\"date_to\":\"2026-05-17\",\"deliverability_score\":0.0,\"domain_health_score\":0.0,\"email_account_domain_age_score\":0.0,\"email_account_id\":\"69d3cbed7bc8d500194ecffe\",\"hard_bounce_score\":0.0,\"open_rate_score\":0.0,\"random\":0.63368823,\"reply_rate_score\":0.0,\"spam_block_score\":0.0,\"sum_clicked_count\":0.0,\"sum_delivered_clicked_tracked_count\":0.0,\"sum_delivered_count\":0.0,\"sum_delivered_open_tracked_count\":0.0,\"sum_hard_bounced_count\":0.0,\"sum_opened_count\":0.0,\"sum_replied_count\":0.0,\"sum_sent_count\":0.0,\"sum_spam_blocked_count\":0.0,\"sum_unsubscribed_count\":0.0,\"team_id\":\"69d3cbed7bc8d500194ecfff\",\"unsubscribe_rate_score\":0.0,\"updated_at\":\"2026-05-19T21:53:25.527Z\",\"user_id\":\"69d3cbed7bc8d500194ed14c\",\"id\":\"6a0cdbd51189a6001cf74f89\",\"key\":\"6a0cdbd51189a6001cf74f89\"},\"max_outbound_emails_per_hour\":6,\"limits_editable\":true,\"show_new_domain_warning\":false,\"domain_enforcement_action\":\"allow\",\"block_sending_for_unhealthy_domain\":false,\"tracking_domain_id\":null,\"is_free_domain\":true,\"crm_auto_import_enable_record_import\":null,\"crm_auto_import_folders_to_import\":[\"Inbox\",\"Sent\"],\"crm_auto_import_domains_to_exclude\":[],\"is_opted_in_mailwarming\":null,\"mailwarming_max\":0,\"mailwarming_to_send_daily\":0,\"mailwarming_to_send_incrementor\":0,\"mailwarming_status\":\"never_started\",\"mailwarming_eta\":null,\"mailwarming_subject_token\":null,\"mailwarming_score\":0,\"mailwarming_score_banner\":\"start_warm_up_for_score\",\"mailwarming_on_weekdays_only\":true,\"true_warmup_enabled\":false,\"true_warmup_daily_limit\":0,\"true_warmup_progress\":0,\"true_warmup_status\":null,\"true_warmup_approximate_end_date\":null,\"true_warmup_last_throttled_at\":null,\"true_warmup_enable_thresholds\":false,\"true_warmup_thresholds\":{\"open_rate\":20,\"reply_rate\":1,\"bounce_rate\":1,\"spam_block_rate\":1},\"active_campaigns_count\":0,\"mailwarming_vendor\":{\"id\":null,\"inbox_id\":null,\"inbox_status\":null,\"unique_string\":null,\"start_date\":null,\"end_date\":null,\"schedule_last_updated_at\":null,\"completion_percent\":0,\"progress_type\":\"progressive\",\"min_daily_emails\":10,\"max_daily_emails\":40,\"daily_reply_rate\":30,\"always_warmup_enabled\":null,\"disallowed_reason\":null,\"billing\":{\"cost\":0,\"credit_type\":\"credits\",\"last_billed_at\":null,\"next_billing_at\":null,\"billing_cycle\":\"30
        days\"}},\"nudge_user_to_send_mails\":true,\"signature_html\":\"\\u003cdiv
        dir=\\\"ltr\\\"\\u003e\\u003cspan\\u003e\\u003cp dir=\\\"ltr\\\" style=\\\"line-height:1.656;margin-top:0pt;margin-bottom:0pt\\\"\\u003e\\u003cspan
        style=\\\"font-family:\\u0026quot;Times New Roman\\u0026quot;,serif;color:rgb(136,136,136);background-color:transparent;vertical-align:baseline\\\"\\u003e\\u003cfont
        size=\\\"4\\\"\\u003eAryan Singh\\u003c/font\\u003e\\u003c/span\\u003e\\u003cspan
        style=\\\"font-size:11pt;font-family:\\u0026quot;Times New [...]
- request:
    body: '{"first_name": "Test", "last_name": "External API Sequence", "email": "test_external_api_sequence@example.com",
      "run_dedupe": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.apollo.io/api/v1/contacts
  response:
    body:
      string: "{\"contact\":{\"contact_roles\":[],\"id\":\"6a0ce25b441e8400205d02c9\",\"first_name\":\"Test\",\"last_name\":\"External
        Api Sequence\",\"name\":\"Test External Api Sequence\",\"linkedin_url\":null,\"title\":null,\"contact_stage_id\":\"69d3cbed7bc8d500194ed001\",\"owner_id\":\"69d3cbed7bc8d500194ed14c\",\"creator_id\":\"69d3cbed7bc8d500194ed14c\",\"person_id\":null,\"email_needs_tickling\":false,\"organization_name\":\"Selbstst\xE4ndig\",\"source\":\"api\",\"original_source\":\"api\",\"organization_id\":\"54a21f5774686930c2f8740e\",\"headline\":null,\"photo_url\":null,\"present_raw_address\":null,\"linkedin_uid\":null,\"extrapolated_email_confidence\":null,\"salesforce_id\":null,\"salesforce_lead_id\":null,\"salesforce_contact_id\":null,\"salesforce_account_id\":null,\"crm_owner_id\":null,\"created_at\":\"2026-05-19T22:21:16.009Z\",\"emailer_campaign_ids\":[\"6a0cdfe8da382d001cc8423e\"],\"direct_dial_status\":null,\"direct_dial_enrichment_failed_at\":null,\"email_status\":\"verified\",\"email_source\":null,\"account_id\":null,\"last_activity_date\":null,\"hubspot_vid\":null,\"hubspot_company_id\":null,\"crm_id\":null,\"merged_crm_ids\":null,\"updated_at\":\"2026-05-19T22:22:58.204Z\",\"queued_for_crm_push\":true,\"suggested_from_rule_engine_config_id\":null,\"email_unsubscribed\":null,\"person_deleted\":null,\"call_opted_out\":null,\"godmode_apollo_creator\":null,\"sanitized_phone\":null,\"street_address\":null,\"city\":null,\"state\":null,\"country\":null,\"postal_code\":null,\"formatted_address\":null,\"time_zone\":null,\"label_ids\":[],\"has_pending_email_arcgate_request\":false,\"has_email_arcgate_request\":false,\"existence_level\":\"full\",\"email\":\"test_external_api_sequence@example.com\",\"email_from_customer\":true,\"typed_custom_fields\":{},\"custom_field_errors\":{},\"crm_record_url\":null,\"email_status_unavailable_reason\":null,\"email_true_status\":\"User
        Managed\",\"updated_email_true_status\":true,\"source_display_name\":\"Created
        from API\",\"twitter_url\":null,\"facebook_url\":null,\"contact_campaign_statuses\":[{\"id\":\"6a0ce25ddf585f0020fcdfd1\",\"emailer_campaign_id\":\"6a0cdfe8da382d001cc8423e\",\"send_email_from_user_id\":\"69d3cbed7bc8d500194ed14c\",\"inactive_reason\":\"Sequence
        inactive\",\"status\":\"paused\",\"added_at\":\"2026-05-19T22:21:17.376+00:00\",\"added_by_user_id\":\"69d3cbed7bc8d500194ed14c\",\"finished_at\":null,\"paused_at\":null,\"auto_unpause_at\":null,\"send_email_from_email_address\":\"aquiveal@gmail.com\",\"send_email_from_email_account_id\":\"69d3cbed7bc8d500194ecffe\",\"manually_set_unpause\":null,\"failure_reason\":null,\"current_step_id\":null,\"in_response_to_emailer_message_id\":null,\"cc_emails\":null,\"bcc_emails\":null,\"to_emails\":null,\"current_step_position\":null}],\"contact_emails\":[{\"email_md5\":\"35cf19ba985dbbcba95cbcc130c9e862\",\"email_sha256\":\"58ed70f09fc87f1346e84d11ddcba3bf17f216a0f12ad33b1d22de93dcde1443\",\"email_status\":\"verified\",\"extrapolated_email_confidence\":null,\"position\":0,\"email\":\"test_external_api_sequence@example.com\",\"free_domain\":false,\"source\":\"User
        Managed\",\"third_party_vendor_name\":null,\"vendor_validation_statuses\":[],\"email_needs_tickling\":false,\"email_true_status\":\"User
        Managed\",\"email_status_unavailable_reason\":null}],\"next_contact_id\":null,\"intent_strength\":null,\"show_intent\":false,\"phone_numbers\":[],\"account_phone_note\":null,\"free_domain\":false,\"email_domain_catchall\":false},\"was_existing\":true,\"labels\":[]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"73f57d8b884c90134e48d3aad282a4aa"
      x-24-hour-requests-left:
      - '596'
      x-24-hour-usage:
      - '4'
      x-hourly-requests-left:
      - '196'
      x-hourly-usage:
      - '4'
      x-minute-requests-left:
      - '49'
      x-minute-usage:
      - '1'
      x-rate-limit-24-hour:
      - '600'
      x-rate-limit-hourly:
      - '200'
      x-rate-limit-minute:
      - '50'
      x-transaction-id:
      - 08ca0ad0-8c60-496f-831f-5e0017aff2c8
    status:
      code: 200
      message: OK
- request:
    body: '{"contact_ids[]": ["6a0ce25b441e8400205d02c9"], "emailer_campaign_id":
      "6a0cdfe8da382d001cc8423e", "send_email_from_email_account_id": "69d3cbed7bc8d500194ecffe"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.apollo.io/api/v1/emailer_campaigns/6a0cdfe8da382d001cc8423e/add_contact_ids
  response:
    body:
      string: '{"error":"Required parameter ''contact_ids'' missing"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 422
      message: Unprocessable Entity
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.apollo.io/api/v1/emailer_campaigns/6a0cdfe8da382d001cc8423e/add_contact_ids?contact_ids%5B%5D=6a0ce25b441e8400205d02c9&emailer_campaign_id=6a0cdfe8da382d001cc8423e&send_email_from_email_account_id=69d3cbed7bc8d500194ecffe
  response:
    body:
      string: '{"contacts":[],"skipped_contact_ids":{"6a0ce25b441e8400205d02c9":"contacts_active_in_other_campaigns"},"emailer_campaign":{"id":"6a0cdfe8da382d001cc8423e","name":"Aryan''s
        Sequence","archived":false,"created_at":"2026-05-19T22:10:48.396Z","emailer_schedule_id":"69d3cbee7bc8d500194ed14e","max_emails_per_day":null,"user_id":"69d3cbed7bc8d500194ed14c","same_account_reply_policy_cd":null,"excluded_account_stage_ids":["69d3cbed7bc8d500194ed00b","69d3cbed7bc8d500194ed00c","69d3cbed7bc8d500194ed00d","69d3cbed7bc8d500194ed00e"],"excluded_contact_stage_ids":["69d3cbed7bc8d500194ed008","69d3cbed7bc8d500194ed007","69d3cbed7bc8d500194ed003","69d3cbed7bc8d500194ed004"],"contact_email_event_to_stage_mapping":{},"label_ids":[],"create_task_if_email_open":false,"email_open_trigger_task_threshold":3,"mark_finished_if_click":false,"active":false,"days_to_wait_before_mark_as_response":5,"starred_by_user_ids":[],"mark_finished_if_reply":true,"mark_finished_if_interested":true,"mark_paused_if_ooo":true,"sequence_by_exact_daytime":null,"permissions":"team_can_use","last_used_at":"2026-05-19T22:21:17.520+00:00","sequence_ruleset_id":null,"ignore_apollo_global_email_bounce_list":null,"folder_id":null,"same_account_reply_delay_days":30,"is_performing_poorly":false,"num_contacts_email_status_extrapolated":0,"remind_ab_test_results":false,"ab_test_step_ids":[],"prioritized_by_user":null,"creation_type":"new","object_owner_id":"69d3cbed7bc8d500194ed14c","dmp_ids":null,"content_center_type":"new_cc","product_profile_ids":[],"status_reason":null,"auto_pause_warning_level":null,"auto_paused_at":null,"auto_pause_bounce_rate":null,"allowed_send_from_domains":[],"unique_scheduled":0,"unique_delivered":0,"unique_bounced":0,"unique_opened":0,"unique_hard_bounced":0,"unique_spam_blocked":0,"unique_replied":0,"unique_demoed":0,"unique_clicked":0,"unique_unsubscribed":0,"unique_opened_unfiltered":0,"unique_clicked_unfiltered":0,"unique_delivered_open_tracked":0,"unique_delivered_click_tracked":0,"bounce_rate":0.0,"hard_bounce_rate":0.0,"open_rate":0.0,"open_rate_tracked":0.0,"open_rate_unfiltered":0.0,"open_rate_unfiltered_tracked":0.0,"click_rate":0.0,"click_rate_tracked":0.0,"click_rate_unfiltered":0.0,"click_rate_unfiltered_tracked":0.0,"reply_rate":0.0,"spam_block_rate":0.0,"opt_out_rate":0.0,"demo_rate":0.0,"loaded_stats":true,"contact_statuses":{"active":0,"failed":0,"paused":2,"finished":0,"bounced":0,"hard_bounced":0,"spam_blocked":0,"not_sent":0},"cc_emails":"","bcc_emails":"","underperforming_touches_count":0,"sharing_permission":{"visibility":"restricted","access_type":null,"object_type":"EmailerCampaign","object_id":"6a0cdfe8da382d001cc8423e","is_owner":true,"owner_id":"69d3cbed7bc8d500194ed14c","sharing_accesses":[]}},"emailer_steps":[],"emailer_touches":[],"team":{"id":"69d3cbed7bc8d500194ecfff","sequences_finder_empty":false},"signals_hash":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"c9402cfceb7c697d206cff381a332b65"
      x-24-hour-requests-left:
      - '597'
      x-24-hour-usage:
      - '3'
      x-hourly-requests-left:
      - '197'
      x-hourly-usage:
      - '3'
      x-minute-requests-left:
      - '49'
      x-minute-usage:
      - '1'
      x-rate-limit-24-hour:
      - '600'
      x-rate-limit-hourly:
      - '200'
      x-rate-limit-minute:
      - '50'
      x-transaction-id:
      - 4bcbd6a9-1ce3-4e44-94e3-20477339af71
    status:
      code: 200
      message: OK
version: 1
